
body {
	background-color: black;
	width: 98%;
}

.usr_pic_l{
	height: 80px;
	text-align: center;
}

/* error */
.error {
	color: red;
	text-align: center;
	font-size: 20px;
}


/*  oofer package */
.offer_package{
	text-align: center;
}


/* 
 ### header ###
*/
#header { 
	float:left; 
	width:100%; 
	height: 150px;
	
	font: bold 18px Verdana; 
	line-height:normal; 

} 


#img_left {
	width:20%; 
	height: 150px;
	background-size: 150px;
	background-image: url('http://localhost/unbroken/img/main/logo.jpg');
	background-position: left;
	background-repeat: no-repeat;
  float: left;
  
}

#img_right{
	width:67%; 
	height: 242px;
	background-size: 250px;
	background-image: url('http://localhost/unbroken/img/main/logo2.png');
	background-position: right;
	background-repeat: no-repeat;
	float: right;
}



#div_left{
	width:20%; 
	padding-top: 10px;	
	padding-left: 5px;
	height: 250px;
    position: absolute;
    float: left;
}


#div_right{
	width:80%; 
	padding-top: 10px;
	float: right;
	height: 90%;
}



#div_left_2{
	width:10%; 
	padding-top: 10px;	
	padding-left: 5px;
	height: 250px;
    position: absolute;
    float: left;
}


#div_right_2{
	width:90%; 
	padding-top: 10px;
	float: right;
	height: 90%;
}


#all_users{
	width: 90%;
}

/* 
 ### footer ###
*/
#footer { 
	float:left; 
	width:100%; 
	height: 120px;
	background-color: #85ad3a;
	font: bold 18px Verdana; 
	line-height:normal; 
	border: 1px;

}



/* 
 ### menu ###
*/
#menu ul {
  font: bold 23px Verdana; 
  background-color: #85ad3a;

}


/* 
 ### header ###
*/



/* 
 ### main content ###
*/
#content {
  float:left; 
  margin-top: 3px;
  margin-bottom: 15px;
  width:100%; 
  height: 72%;
  background-color: grey;
  font: bold 18px Verdana; 
  line-height:normal; 
  overflow-y: scroll;

} 


#group_table{
font-size: 14px;
}

/*
clases para visualizar el listado de socios /users/index
para mostrat los principales y de ahi poder ir a ver el detalle de cada uno
asi como poner el agregar cliente en la seccion de arriba derecha
*/

#main_table {
	width: 90%;
	font-size: 14px;
	float: center;
	text-align: left;
}

.heading {
	font-size: 14px;
	text-align: left;
}

.data_rows {
	font-size: 14px;
	text-align: left;	
	background-color: #696964;
}

.data_rows_2 {
	font-size: 14px;
	text-align: left;	
}


#tb_new_user {
	width: 100%;
	background-color: #85ad3a;
	
}

#tb_new_user td {
	float: left;
}


/*
clases para las tablas que estan en la pagina de view_users.php
separan la tabla en 3 secciones para poder mostrar la imagen
*/
#inner_table {
	width: 100%;
}

#inner_table td.inner_left{
	text-align: right;
	font-weight: bold;
	width: 150px;
}

#inner_table td.inner_photo {
	width: 100%;
	text-align: center;
}

#main_table_single_user {
	width: 100%;
}

.data_rows_single_user {
	font-size: 14px;
	text-align: center;	
	width: 33%;
}


.comment {
	font-size: 14px;
	
}

.usr_pic{
	height: 200px;
	margin-left: 80px;

}


/* table de paquete para nuevo usuario */
#tb_package_new_user{
	width: 34%;	
}



/* atributos para los anchor*/
.anchor {
	font-size: 12px;
}







/* CSS de las tablas de pacquetes */

#main_table_pack {
	width: 40%;
}

.heading_pack {
	font-size: 14px;
	text-align: center;
}

#main_table_pack td.inner_left{
	text-align: right;
	font-weight: bold;
	width: 150px;
}



/*-- menu --*/
#nav{
    list-style:none;
    font-weight:bold;
    margin-bottom:10px;
    <span class="code-comment">/* Clear floats */</span>
    float:left;
    width:100%;
    <span class="code-comment">/* Bring the nav above everything else--uncomment if needed.
    position:relative;
    z-index:5;
    */</span>
}
#nav li{
    float:left;
    margin-right:10px;
    position:relative;
}
#nav a{
    display:block;
    padding:5px;
    color:black;
    background:#85ad3a;
    text-decoration:none;
}
#nav a:hover{
    color:#fff;
    background:#333;
    text-decoration:underline;
}





